services:
  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    labels:
      - "snadboy.revp.5055.domain=overseerr.isnadboy.com"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - overseerr-data:/config
    ports:
      - 5055:5055
    restart: unless-stopped
    networks:
      - app_network

volumes:
  overseerr-data:
    external: true

networks:
  app_network:
    name: ${NETWORK_NAME:-overseerr_default}
    external: ${NETWORK_EXTERNAL:-false}
