services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    labels:
      - "snadboy.revp.9696.domain=prowlarr.isnadboy.com"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - prowlarr-data:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    networks:
      - app_network

volumes:
  prowlarr-data:
    external: true

networks:
  app_network:
    name: ${NETWORK_NAME:-prowlarr_default}
    external: ${NETWORK_EXTERNAL:-false}
