services:
  dockermon:
    image: webfreakeric/dockermon:latest
    container_name: dockermon
    labels:
      - "snadboy.revp.3800.domain=dockermon.isnadboy.com"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
      - DOCKERMON_BACKEND_WS_PORT=3811
      - DOCKERMON_BACKEND_API_PORT=3810
      - DOCKERMON_FRONTEND_PORT=3800
      - DOCKERMON_HOST_LAUNCHER_PORT=3801
      - DOCKERMON_WORKER_HOST_ADDRESS=localhost
      - DOCKERMON_ENABLE_GIT_UPDATE=1
      - DOCKERMON_ENABLE_GIT_BRANCH=main
      - DOCKERMON_DOCKER_LOCAL_SOCKET=/var/run/docker.sock
      - DOCKERMON_CURRENT_ENV=prod
      - DOCKERMON_LOGGING=json-file
      - MYSQL_ROOT_PASSWORD=dockermon
      - MYSQL_DATABASE=dockermon
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - REDIS_PORT=6379
      - REDIS_HOST=localhost
      - JWT_SECRET=s09fk2FK2lk2@O929f92kfl11
      - JWT_EXPIRES=1d
    command: /bin/bash /app/dockermon-app/start.sh
    volumes:
      - dockermon-db-data:/var/lib/mysql
      - dockermon-node-modules-fe:/app/dockermon-app/frontend/node_modules
      - dockermon-node-modules-be:/app/dockermon-app/backend/node_modules
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 3800:3800
      - 3810:3810
      - 3811:3811
    cap_add:
      - SYS_NICE
    restart: unless-stopped

volumes:
  dockermon-db-data:
    external: true
  dockermon-node-modules-fe:
    external: true
  dockermon-node-modules-be:
    external: true
