services:
  uptime-kuma:
    image: louislam/uptime-kuma:latest
    container_name: uptime-kuma
    labels:
      - "snadboy.revp.3001.domain=uptime-kuma.isnadboy.com"
    environment:
      - TZ=America/Chicago
    user: "1000:1000"
    entrypoint: ["/usr/bin/dumb-init", "--", "node", "server/server.js"]
    volumes:
      - /mnt/docker/uptime-kuma/app-data:/app/data
    ports:
      - 3001:3001 # <Host Port>:<Container Port>
    restart: unless-stopped
    networks:
      - app_network

networks:
  app_network:
    name: ${NETWORK_NAME:-bridge}
    external: ${NETWORK_EXTERNAL:-false}
