services:
  ${Z2M_NAME:-zigbee2mqtt}:
    container_name: ${Z2M_NAME:-zigbee2mqtt}
    labels:
      - "snadboy.revp.${Z2M_PORT:-8080}.domain=${Z2M_NAME:-zigbee2mqtt}.isnadboy.com"
    image: koenkk/zigbee2mqtt
    restart: unless-stopped
    volumes:
      - /mnt/docker/zigbee2mqtt/office/app-data:/app/data
      # - /run/udev:/run/udev:ro
      # network_mode: host
    ports:
      # Frontend port
      - ${Z2M_PORT:-8080}:8080
    environment:
      - TZ=America/Chicago
    networks:
      - traefik

networks:
  traefik:
    external: true
    